:root{
    --fundo: #FFFFF0;
    --cor-texto: black;
    --cor-frente-cartao: #8B008B;
    --cor-verso-cartao: #8B008B;
    --preto: #000000;
    --branco: #FFFFFF;
    --amarelo: #C0C0C0;

}

body{
    background-color: var(--fundo);
    margin: 0;
    
}

header{
    background-color: var(--fundo);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
header a{
    color: var(--cor-frente-cartao);
    text-decoration: none;
}
footer{
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
}

#container{
    display: grid;
    padding: 2rem;
    gap: 3rem;
}

.cartao-conteudo{
    background-color: coral;
    border: 1px solid var(--preto);
    box-shadow: 2px 2px 2px var(--preto);
}